<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <!-- Main plugin class -->
    <class>com.reucon.openfire.plugin.archive.ArchivePlugin</class>
    
    <!-- Plugin meta-data -->
    <name>${pom.name}</name>
    <description>${pom.description}</description>
    <author>${pom.organization.name}</author>
    <version>${pom.version}</version>
    <date>${openfire-plugin.build.date}</date>
    <minServerVersion>3.4.0</minServerVersion>
    <databaseKey>archive</databaseKey>
    <databaseVersion>3</databaseVersion>
    <licenseType>gpl</licenseType>
    
    <!-- Admin console meta-data -->
    <adminconsole>              

        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
               <item id="openarchive-settings" name="${archive.settings.title}"
                   url="archive-settings.jsp"
                   description="${archive.settings.description}" />
               <item id="openarchive-search" name="${archive.search.title}"
                   url="archive-search.jsp"
                   description="${archive.search.description}" />
            </sidebar>

        </tab>

    </adminconsole>
</plugin>
