<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <!-- Main plugin class -->
    <class>com.reucon.openfire.plugin.archiver.ArchiverPlugin</class>
    
    <!-- Plugin meta-data -->
    <name>${pom.name}</name>
    <description>${pom.description}</description>
    <author>${pom.organization.name}</author>
    <version>${pom.version}</version>
    <date>${openfire-plugin.build.date}</date>
    <minServerVersion>3.3.0</minServerVersion>
    <databaseKey>archiver</databaseKey>
    <databaseVersion>1</databaseVersion>
    <licenseType>gpl</licenseType>
    
    <!-- Admin console meta-data -->
    <adminconsole>              

        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
               <item id="archiver-settings" name="Archiver Settings"
                   url="archiver-settings.jsp"
                   description="Click to edit archiver settings" />
               <item id="archiver-search" name="Archiver Search"
                   url="archiver-search.jsp"
                   description="Click to search archive" />
            </sidebar>

        </tab>

    </adminconsole>
</plugin>
